<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPP2f3OzvWvdtF7eWX514ULYO4Ex7viN0</string>
	<key>GCM_SENDER_ID</key>
	<string>160308206097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mctask</string>
	<key>PROJECT_ID</key>
	<string>mctask-f96de</string>
	<key>STORAGE_BUCKET</key>
	<string>mctask-f96de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160308206097:ios:efca2e9c2ee2649cd22fb0</string>
</dict>
</plist>